{% extends "bug/base.html" %}
{% block content %}

<div class="container mt-5">
  <h1>List of Bug Fields</h1>
  <table class="table table-bordered table-striped mt-4">
    <thead class="thead-light">
      <tr>
	<th>S/No</th>
        <th>Description</th>
        <th>Bug Type</th>
        <th>Report Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for bug in bugs %}
      <tr>
        <td>{{ forloop.counter }}</td>	
        <td>{{ bug.description }}</td>
        <td>{{ bug.bug_type }}</td>
        <td>{{ bug.report_date }}</td>
        <td>{{ bug.status }}</td>  

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}

