{% extends "bug/base.html" %} 
{% block content %}

<div class="container mt-5 d-grid gap-2 col-md-6 mx-auto">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the Bug App</h1>
    <p class="text-center">Track and manage software bugs effortlessly.</p>
        <hr />
        <p class="text-center">
      Get started by registering a bug or checking the bug list.
    </p>
    <a
      class="btn btn-success btn-lg d-grid gap-4 col-md-6 mx-auto"
      href="{% url 'register_bug' %}"
      role="button"
      >Register a Bug</a
    >
    <a
      class="btn btn-primary btn-lg d-grid gap-4 col-md-6 mx-auto"
      href="{% url 'bug_list' %}"
      role="button"
      >Bug List</a
    >
    <a
      class="btn btn-warning btn-lg d-grid gap-4 col-md-6 mx-auto"
      href="{% url 'bug_list_link' %}"
      role="button"
      >Bug Link</a
    >
  </div>
</div>
{% endblock %}
